body {
  background-color: #66a5ed;
  font-family: "Roboto", sans-serif;
}

a {
  color: #7758a3;
}

.weather-app {
  background: #f0d18e;
  max-width: 600px;
  margin: 45px auto;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 16px;
  padding: 30px;
}

header {
  border-bottom: 4px dotted #edf0f3;
  padding: 0 0 32px 0;
}

.search-form-input {
  background-color: #edf0f3;
  border: none;
  border-radius: 4px;
  width: 80%;
  font-size: 16px;
  padding: 16px;
}

.search-form-button {
  background-color: #66a5ed;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  color: white;
  margin-left: 4px;
}

main {
  padding: 32px 0;
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
}

.weather-app-city {
  margin: 0;
  font-size: 56px;
  line-height: 48px;
  font-family: "Bagel Fat One", sans-serif;
  color: #db3e8c;
}

.weather-app-details {
  font-size: 16px;
  line-height: 24px;
  color: rgba(39, 33, 66, 0.6);
  font-weight: 500;
}

.weather-app-details strong {
  color: #db3e8c;
}

.weather-app-temperature-container {
  display: flex;
  color: #db3e8c;
}

.weather-app-icon {
  width: 80px;
  height: 80px;
}

.weather-app-temperature {
  font-size: 80px;
  font-weight: bold;
  line-height: 80px;
  font-family: "Bagel Fat One", sans-serif;
}

.weather-app-unit {
  margin-top: 4px;
  font-size: 28px;
}

.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.weather-forecast-date {
  text-align: center;
  color: rgba(39, 33, 66, 0.6);
  font-size: 16px;
  line-height: 20px;
}

.weather-forecast-icon {
  width: 88px;
  height: 88px;
  display: block;
  margin: 0 auto;
}

.weather-forecast-temperatures {
  text-align: center;
  color: #db3e8c;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.weather-forecast-temperature {
  padding: 0 10px;
}

footer {
  border-top: 4px dotted #edf0f3;
  padding: 32px 0 0 0;
  text-align: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}
